<h2>マイページ</h2>

<h3>プロフィール</h3>
<div class= "profile">
  <p>名前 : <%= @user.name %></p>
  <p>メールアドレス : <%= @user.email %></p>
  <p>プロフィール : <%= @user.profile %></p>
</div>

<% if current_user.id == @user.id %>
  <p class="more-btn"><%= link_to "編集する", edit_user_registration_path %></p>
<% end %>


<h2>お気に入りのレシピ一覧</h2>

<div class= "okiniiris-container">
<% @user.liked_recipes.each do |t| %>

  <div class="okiniiri">
  
    <div class= "image">
      <% if t.image? %>
        <%= image_tag t.image_url, size: "250x200" %>
      <% else %>
        <div class= "topimage6">
          <p>No Image</p>
        </div>
      <% end %>
    </div>

    <div class= "menu">
      <p><%= t.menu %></p>
    </div>

    <div class= "like">
      <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
          <%= button_to recipe_like_path(id: t.id, recipe_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% else %>
          <%= button_to recipe_likes_path(id: t.id, recipe_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% end %>
      <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
      <% end %>
    </div>

    <p class="more-btn"><%= link_to "詳細へ", recipe_path(t.id) %></p>
    <p class="more-btn"><%= link_to "編集する", edit_recipe_path(t.id) %></p>
    <%= button_to "削除する", recipe_path(t.id), method: :delete %> 

  </div>
<% end %>
</div>